<h2>{{client.username}}</h2>
<a href="/">Home</a>
<a href="/{{client.id}}/edit">Edit</a>
<a href="/{{client.id}}/delete">Delete</a>
<div >
  Last Name: {{client.last_name}}<br/>
  First Name: {{client.first_name}}
</div>
