<form action="/{{client.id}}/edit" method="post">
  <input type="text" name="last_name" value="{{client.last_name}}" placeholder="{{client.last_name}}">
  <input type="text" name="first_name" value="{{client.first_name}}" placeholder="{{client.first_name}}">
  <input type="text" name="username" value="{{client.username}}" placeholder="{{client.username}}">
  <input type="password" name="password" value="{{client.password}}" placeholder="{{client.password}}">
  <button type="submit" >Edit</button>
</form>
