<h2>{{post.title}}</h2>
<p>{{post.body}}</p>
<a href="/">Home</a>
{{#if author}}
<a href="/posts/{{post.post_id}}/edit">Edit</a>
<a href="/posts/{{post.post_id}}/delete">Delete</a>
{{/if}}
<a href="/posts">See All Posts</a>
<div >
  Username: {{post.username}}
</div>

{{#each comments}}
    <div><p>Comment: {{this.body}}</p> <a href="/posts/{{this.post_id}}/{{this.comment_id}}">Delete</a></div>
    <p>
        Commenter: {{this.username}}
    </p>
{{/each}}

<h2>Add a comment</h2>
<form action="/posts/{{post.post_id}}" method="post">
    <input type="text" name="body" placeholder="Comment">
    <input type="hidden" name="client_id" value="{{clients.id}}">
    <input type="hidden" name="post_id" value="{{post.post_id}}">
    <button type="submit">Submit</button>
</form>
